In [165]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import scipy.stats
import datetime as dt
import sklearn
import statsmodels
%matplotlib inline

In [2]:
#get data from file
data = pd.read_csv('InventoryPosition.csv',delimiter=';')

In [3]:
#compute product price
data['ProductPrice'] = (data['SalesRevenue']/data['SalesQuantity']).round(2)
#group data according to columns
grouped = data.groupby(["ProductCode","Date","StoreCode", "ProductPrice","SalesQuantity"])
#discard the rows containig negative values
sqDiscarded = grouped.filter(lambda x: x["SalesQuantity"] > 0) 
sqDiscardedCopy = sqDiscarded

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.groupby.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

In [4]:
#gets the data and returns mean, minimum value, maximum value within
#a confidence interval 0.95
def mean_confidence_interval(data, confidence=0.95):
    a = 1.0*np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * sp.stats.t._ppf((1+confidence)/2., n-1)
    return m, m-h, m+h

In [5]:
#group data according to product codes
sqDiscardedCopy = sqDiscardedCopy.groupby(["ProductCode"])
sqDiscardedCopy.size()

ProductCode
Product1       71
Product10      71
Product100     55
Product101    156
Product102    174
Product103    178
Product104    226
Product105    129
Product106    179
Product107    115
Product108     58
Product109     63
Product11      88
Product110     79
Product111     87
Product112     71
Product113     67
Product114     78
Product115     68
Product116     66
Product117     55
Product118    180
Product119    194
Product12      68
Product120    194
Product121    250
Product122    150
Product123    199
Product124    121
Product125     55
             ...
Product72     123
Product73      85
Product74     159
Product75     129
Product76      68
Product77     153
Product78     106
Product79      73
Product8       86
Product80      96
Product81     157
Product82     165
Product83     208
Product84     171
Product85     184
Product86     159
Product87     114
Product88      73
Product89      74
Product9      110
Product90     102
Product91      86
Product92      82
Product93      85
Product94      57
Product95      67
Product96      82
Product97      80
Product98      86
Product99      60
Length: 391, dtype: int64

In [85]:
group_price_low = {}
group_price_high = {}
#iterate over groups
#compute the maximum and minimum values for each product type
for name, group in sqDiscardedCopy :
    x = group[['ProductPrice']].as_matrix()
    a = mean_confidence_interval(x)
    group_price_low[name] = a[1][0]
    group_price_high[name] = a[2][0]

<class 'pandas.core.groupby.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
{'Product356': 221.79000000000002, 'Product95': 68.996113475700241, 'Product189': 4.0983796964256065, 'Product131': 67.218385820064725, 'Product389': 96.25, 'Product148': 9.9726108161601754, 'Product364': 165.91999999999999, 'Product223': 5.5899654113295227, 'Product270': 75.015078765858902, 'Product4': 98.976188044939079, 'Product322': 43.555494320382159, 'Product149': 9.9698810855233972, 'Product255': 76.668336894131727, 'Product186': 5.9747700305508964, 'Product182': 5.2380419211395868, 'Product352': 134.47999999999999, 'Product369': 51.209999999999994, 'Product323': 43.605091527417194, 'Product92': 51.611583909852996, 'Product233': 4.2909126668734459, 'Product77': 224.10843096393759, 'Product141': 67.557834662880424, 'Product21': 153.97127135455537, 'Product86': 59.699868038837394, 'Product299': 75.412075768262355, 'Product301': 82.719751465415158, 'Product213': 7.6479502464776861, 'Product199': 10.386227251397285, 'Product143': 65.599662821037739, 'Product338': 319.44999999999999, 'Product345': 159.66000000000003, 'Product109': 56.274996968150411, 'Product196': 10.392843084780747, 'Product58': 127.98296395772518, 'Product163': 9.5526359312860407, 'Product46': 172.96022246517603, 'Product69': 151.03713149746577, 'Product342': 76.840000000000032, 'Product243': 37.959929516172522, 'Product115': 56.976943477561505, 'Product82': 59.941239824593644, 'Product329': 89.799999999999983, 'Product201': 9.8650480885223377, 'Product387': 209.44000000000003, 'Product29': 62.356520572403632, 'Product127': 65.90646812727239, 'Product1': 71.358674145234673, 'Product276': 85.309329298622288, 'Product247': 44.244734123473052, 'Product106': 57.944478379742023, 'Product124': 56.247055855299642, 'Product257': 74.766344847235715, 'Product366': 108.43000000000005, 'Product259': 75.749158324847471, 'Product372': 140.79999999999998, 'Product295': 67.878663350455739, 'Product112': 53.086657148119713, 'Product104': 59.656351718419586, 'Product102': 59.425246713901608, 'Product316': 55.303219144383128, 'Product242': 24.987627082633903, 'Product78': 223.05679069915453, 'Product27': 125.50147057606654, 'Product294': 66.352992556828724, 'Product274': 75.670621924579834, 'Product334': 135.05999999999997, 'Product232': 5.2272540697103258, 'Product180': 9.8475896714697893, 'Product18': 86.292710443654769, 'Product121': 56.734342813589656, 'Product79': 152.18461369171447, 'Product156': 9.1600135183994951, 'Product101': 59.688324362887265, 'Product246': 46.871194854298878, 'Product357': 319.44999999999993, 'Product379': 70.970000000000027, 'Product160': 9.9734289972582904, 'Product245': 11.598735334163338, 'Product300': 73.11877150774265, 'Product171': 3.8775733862328141, 'Product335': 172.17000000000002, 'Product60': 188.44097908130445, 'Product152': 9.9577281923761038, 'Product47': 83.426597431723067, 'Product211': 9.7178090110299937, 'Product105': 59.162058893389997, 'Product283': 100.09080828183225, 'Product287': 82.824122580060575, 'Product284': 99.145872098328852, 'Product169': 4.7287647761265541, 'Product234': 4.2972147979964221, 'Product2': 67.087304227358686, 'Product67': 186.1893293768627, 'Product51': 79.451513171589426, 'Product129': 67.938821616669401, 'Product280': 86.388164681440813, 'Product44': 91.967047603856656, 'Product132': 62.572670441374598, 'Product57': 85.899004451652786, 'Product254': 74.404044014422681, 'Product31': 78.181344090432404, 'Product157': 9.9525806493327167, 'Product147': 9.9591152791461877, 'Product35': 165.00720638410306, 'Product208': 16.113124949567069, 'Product43': 58.312066872650689, 'Product304': 76.012910715665001, 'Product229': 11.311816018359934, 'Product167': 10.38366880735226, 'Product7': 96.561251838781658, 'Product70': 154.75044753217182, 'Product321': 44.175232030006498, 'Product94': 63.341116250718336, 'Product282': 85.086700633687286, 'Product62': 109.61432996861211, 'Product68': 153.90237559692383, 'Product116': 53.570199932221414, 'Product390': 103.23999999999998, 'Product134': 57.228863703262626, 'Product74': 64.630935924481605, 'Product219': 10.337840125475092, 'Product56': 87.818921327518112, 'Product190': 4.1735422466608645, 'Product158': 9.9822444733711109, 'Product367': 96.25, 'Product164': 10.383256578897969, 'Product100': 69.449407479884741, 'Product359': 140.79999999999995, 'Product181': 5.253659165038413, 'Product320': 45.198701030861677, 'Product215': 6.0787865260726486, 'Product292': 73.817358089387852, 'Product324': 42.870718867883724, 'Product251': 46.503003787997628, 'Product37': 113.59415920594137, 'Product159': 9.9601643496471137, 'Product339': 96.25, 'Product230': 11.293708825877555, 'Product71': 148.82982109648279, 'Product88': 50.935780416697028, 'Product363': 259.17999999999989, 'Product42': 76.94319629476243, 'Product173': 4.960683688000783, 'Product207': 9.5490207067547885, 'Product382': 147.09999999999997, 'Product197': 11.503121078843058, 'Product354': 70.970000000000013, 'Product130': 66.310634408742416, 'Product385': 44.549999999999997, 'Product373': 63.769999999999996, 'Product244': 32.371297551571004, 'Product336': 147.09999999999994, 'Product309': 51.922849442865811, 'Product96': 67.294312247079333, 'Product135': 58.439377526661666, 'Product9': 74.256342534354332, 'Product237': 9.273935201790529, 'Product348': 128.15000000000003, 'Product273': 76.487432092183667, 'Product351': 159.66000000000003, 'Product220': 11.78875991013577, 'Product174': 6.4670739693773678, 'Product383': 134.47999999999999, 'Product122': 55.867609924398892, 'Product388': 84.600000000000009, 'Product358': 147.09999999999999, 'Product146': 17.053468422695598, 'Product331': 159.66, 'Product302': 83.661006527078115, 'Product222': 5.5867076956745647, 'Product187': 5.9913881809822458, 'Product192': 6.5761832051201479, 'Product311': 51.763016697706078, 'Product61': 111.37898456759741, 'Product17': 103.19123543347447, 'Product362': 77.430000000000007, 'Product84': 59.338402118932379, 'Product15': 133.14750661424637, 'Product16': 69.598610412292516, 'Product20': 68.303122091104299, 'Product32': 153.22202075506002, 'Product349': 197.05999999999997, 'Product81': 61.971836742182631, 'Product136': 60.172011575570316, 'Product286': 82.923095898697227, 'Product118': 59.4087320460943, 'Product133': 58.283378692487624, 'Product370': 96.25, 'Product306': 75.209689034389939, 'Product297': 67.516338684961639, 'Product3': 116.47801207358521, 'Product288': 83.105328971928145, 'Product376': 115.45000000000002, 'Product384': 109.06999999999994, 'Product308': 58.351544060801416, 'Product80': 165.45398745277052, 'Product221': 12.08313191785062, 'Product161': 11.214000851377753, 'Product267': 72.988903219105779, 'Product204': 10.38571900015018, 'Product266': 74.190658588412902, 'Product262': 76.357408970051537, 'Product326': 121.80999999999997, 'Product72': 142.16451916892635, 'Product40': 103.62900836590501, 'Product226': 8.1188955282435114, 'Product375': 109.06999999999996, 'Product103': 59.15095022808854, 'Product107': 58.149222567207261, 'Product114': 57.102445031333154, 'Product239': 6.7005345316095388, 'Product76': 241.08699583804244, 'Product377': 215.61999999999992, 'Product123': 56.391415502409316, 'Product353': 7.0800000000000001, 'Product268': 76.350432880435463, 'Product138': 67.739042219883487, 'Product235': 9.2977669226653408, 'Product391': 153.95000000000005, 'Product260': 76.75684736146431, 'Product361': 121.79999999999997, 'Product264': 74.379606384576036, 'Product258': 76.557806376148491, 'Product14': 55.631427648886181, 'Product224': 5.5899921860720783, 'Product125': 52.705400913340242, 'Product250': 44.718537345607125, 'Product327': 171.53999999999999, 'Product34': 90.863083301181646, 'Product28': 46.726669213384412, 'Product119': 58.072902982796869, 'Product253': 74.92888065317058, 'Product155': 24.712517202452759, 'Product218': 8.8984382760038088, 'Product346': 184.63999999999999, 'Product206': 6.8492112580171245, 'Product145': 9.5421951611928364, 'Product166': 10.388630687358074, 'Product344': 172.17000000000002, 'Product50': 63.818750967327887, 'Product298': 73.105585068963066, 'Product225': 5.587528891104812, 'Product238': 7.2620066216606025, 'Product333': 70.319999999999993, 'Product90': 53.23009074306475, 'Product217': 5.456557356218223, 'Product296': 67.851404858999871, 'Product177': 9.9659745514079141, 'Product183': 5.2612651784983377, 'Product36': 96.020019369936861, 'Product380': 234.71999999999994, 'Product248': 46.858265922672395, 'Product99': 70.166997409486797, 'Product59': 124.1305559117999, 'Product93': 52.000079825719787, 'Product54': 174.72945864248993, 'Product200': 10.405956250755802, 'Product325': 44.08202488510468, 'Product26': 63.811568043306501, 'Product48': 83.787098998361515, 'Product256': 76.433245578996761, 'Product312': 50.033796345332668, 'Product168': 7.9122585392313765, 'Product340': 102.66000000000001, 'Product209': 7.5935414053073513, 'Product193': 6.638385302878536, 'Product91': 50.978531009134869, 'Product162': 8.6764245020309936, 'Product22': 92.739334754925437, 'Product241': 8.888066556774433, 'Product261': 75.093132131606708, 'Product113': 55.853633858150587, 'Product328': 135.05999999999997, 'Product33': 71.732968175144038, 'Product195': 9.8339175213607746, 'Product179': 9.7013199126866514, 'Product117': 53.105372921853075, 'Product216': 4.788521406023019, 'Product355': 109.06999999999994, 'Product10': 150.72229557796067, 'Product228': 11.285980680716511, 'Product210': 5.0981671630160701, 'Product83': 62.388699168888124, 'Product249': 42.515422505082448, 'Product8': 70.825083991729684, 'Product227': 8.0802718395682938, 'Product263': 76.312140295015553, 'Product332': 70.980000000000004, 'Product165': 10.378809229253847, 'Product293': 74.492035813704959, 'Product214': 8.1279995017508284, 'Product154': 7.800043347312676, 'Product269': 75.180935798600117, 'Product38': 87.416284125710277, 'Product343': 51.210000000000008, 'Product137': 70.079795236970156, 'Product39': 107.91161370013685, 'Product202': 13.657676310609652, 'Product185': 5.6054686549831683, 'Product194': 9.8431954295147968, 'Product289': 74.585179818171454, 'Product170': 5.63621659962865, 'Product315': 51.226387592174234, 'Product111': 55.241338303241079, 'Product65': 196.9571532858032, 'Product265': 76.063783482477305, 'Product176': 3.9440980117127484, 'Product191': 5.0946370282227411, 'Product19': 69.071184249226718, 'Product277': 85.44472377589959, 'Product178': 6.3191076742998487, 'Product317': 43.875668420053707, 'Product126': 69.329061583683611, 'Product272': 75.878975980639325, 'Product318': 43.998483508534662, 'Product319': 43.486780397213771, 'Product347': 96.25, 'Product98': 70.905630660631374, 'Product231': 13.677597457192444, 'Product184': 5.6121919303908108, 'Product285': 100.49883670040556, 'Product85': 59.248467859152647, 'Product41': 103.57115160994913, 'Product341': 96.25, 'Product89': 52.42400125726688, 'Product172': 10.817318734826495, 'Product290': 73.522414453260694, 'Product305': 74.266838642564139, 'Product53': 235.52019077153051, 'Product139': 68.874995227768707, 'Product75': 61.848440690980375, 'Product350': 246.38000000000005, 'Product313': 51.306109205902722, 'Product271': 76.256928344703567, 'Product153': 9.9423158346227005, 'Product337': 153.38999999999993, 'Product175': 9.9707398297362229, 'Product310': 51.556272550516283, 'Product25': 54.409967683502259, 'Product307': 60.473154527614525, 'Product87': 62.892618712891931, 'Product188': 4.098271725154687, 'Product386': 96.819999999999951, 'Product142': 66.217992307202067, 'Product240': 8.8248208674580173, 'Product11': 146.89550275473195, 'Product108': 55.127454995272885, 'Product6': 92.687659344735138, 'Product110': 55.151021101195212, 'Product12': 188.89944083789155, 'Product52': 117.3942624382158, 'Product212': 9.670176083723101, 'Product151': 9.9641829228152616, 'Product144': 6.2604613125129873, 'Product278': 84.694251499846203, 'Product30': 108.81812363688594, 'Product365': 76.840000000000003, 'Product63': 160.68359806493163, 'Product275': 74.096741035009444, 'Product330': 197.06, 'Product97': 68.717289267167416, 'Product5': 56.590343981240302, 'Product45': 95.567678105985607, 'Product24': 99.69860936492708, 'Product150': 9.9838268997448267, 'Product198': 11.633906397625745, 'Product203': 10.391773043293096, 'Product374': 134.47999999999999, 'Product140': 67.868620935914933, 'Product381': 147.09999999999997, 'Product205': 10.408326203887707, 'Product128': 62.014257018310808, 'Product49': 63.868212199307344, 'Product120': 56.742087435282514, 'Product281': 83.614158804130042, 'Product73': 112.92176983551333, 'Product279': 86.023481610569149, 'Product64': 183.91370226114265, 'Product378': 197.05999999999997, 'Product55': 107.59648364465491, 'Product314': 51.169923372353509, 'Product66': 140.3482382474734, 'Product291': 74.762193230206691, 'Product371': 116.02000000000001, 'Product303': 75.118633974867905, 'Product360': 37.82, 'Product368': 159.66, 'Product236': 31.332914634582703, 'Product23': 96.403040264895083, 'Product252': 76.537016385668394, 'Product13': 177.74720616250892}

In [60]:
#cast the gruped data to data frame
ss = sqDiscarded.filter(lambda x: True)

pandas.core.frame.DataFrame

In [122]:
#get product types from input file
dataprods  = pd.read_csv('Products.csv',)
#convert dataframe to array
sss = np.array(ss)
ds = np.array(dataprods)
#iterate and discard the rows containing price out of the confidenece interval
l = len(ds[:,:1])
for i in range(l):
    prodName = ds[:,:1][i][0]
    ind = np.where(np.logical_and(sss[:,2] == prodName ,(sss[:,5] > group_price_low[prodName]),(sss[:,5] < group_price_high[prodName])))
    sss = np.delete(sss, ind, axis=0)
sss

array([['2015.05.21', 'Store18', 'Product81', ..., 0, 77.0033, 77.0],
       ['2015.05.21', 'Store12', 'Product81', ..., 0, 77.0033, 77.0],
       ['2015.05.23', 'Store1', 'Product81', ..., 0, 77.0033, 77.0],
       ...,
       ['2016.02.29', 'Store17', 'Product80', ..., 0, 71.63071505, 71.63],
       ['2016.03.01', 'Store16', 'Product80', ..., 0, 71.63071505, 71.63],
       ['2016.03.08', 'Store7', 'Product80', ..., 0, 71.63071505, 71.63]], dtype=object)

In [137]:
df = pd.DataFrame(sss)
df

                 0        1          2  3   4  5        6       7
0       2015.05.21  Store18  Product81  1   3  0  77.0033      77
1       2015.05.21  Store12  Product81  1   3  0  77.0033      77
2       2015.05.23   Store1  Product81  1   3  0  77.0033      77
3       2015.05.23   Store9  Product81  1  11  0  77.0033      77
4       2015.05.29  Store11  Product81  1   3  0  25.4367   25.44
5       2015.05.31  Store18  Product81  1   2  0  77.0033      77
6       2015.06.02  Store12  Product81  1   3  0  77.0033      77
7       2015.06.04   Store2  Product81  1   2  0  67.8128   67.81
8       2015.06.04  Store11  Product81  1   2  0  77.0033      77
9       2015.06.06   Store3  Product81  1   1  0  77.0033      77
10      2015.06.06   Store4  Product81  1   2  0  77.0033      77
11      2015.06.08   Store1  Product81  1   2  0  68.3499   68.35
12      2015.06.08  Store16  Product81  1   2  0  62.6086   62.61
13      2015.06.11   Store3  Product81  1   1  0  63.0006      63
14      2015.06.12  Store12  Product81  1   2  0  63.7251   63.73
15      2015.06.14  Store17  Product81  1   1  0  62.3617   62.36
16      2015.06.16  Store21  Product81  1   1  0  77.0033      77
17      2015.06.17  Store20  Product81  1   0  0  64.6805   64.68
18      2015.06.18  Store18  Product81  1   5  0  77.0033      77
19      2015.06.18   Store9  Product81  1  11  0  77.0033      77
20      2015.06.19  Store23  Product81  1   0  0  77.0033      77
21      2015.06.20  Store11  Product81  1   3  0  53.9077   53.91
22      2015.06.21  Store12  Product81  1   2  0     53.9    53.9
23      2015.06.22  Store18  Product81  1   4  0  59.8914   59.89
24      2015.06.23   Store3  Product81  1   3  0  61.6011    61.6
25      2015.06.24  Store18  Product81  1   1  0     53.9    53.9
26      2015.06.25   Store6  Product81  1   1  0     53.9    53.9
27      2015.06.27  Store25  Product81  1   0  0  61.6011    61.6
28      2015.06.28  Store16  Product81  1   2  0     53.9    53.9
29      2015.06.29   Store9  Product81  1  10  0     53.9    53.9
...            ...      ...        ... ..  .. ..      ...     ...
213407  2015.11.01  Store19  Product80  1   1  0  115.148  115.15
213408  2015.11.13  Store15  Product80  1   1  0  230.297   230.3
213409  2015.11.29   Store1  Product80  1   1  0  163.287  163.29
213410  2015.12.04  Store10  Product80  1   1  0  163.287  163.29
213411  2015.12.06   Store2  Product80  1   1  0  163.287  163.29
213412  2015.12.09   Store6  Product80  1   0  0  117.074  117.07
213413  2015.12.09  Store10  Product80  1   0  0  117.074  117.07
213414  2015.12.09  Store25  Product80  1   0  0  117.074  117.07
213415  2015.12.17   Store1  Product80  1   2  0  117.074  117.07
213416  2015.12.22   Store5  Product80  1   1  0  117.074  117.07
213417  2015.12.24   Store5  Product80  1   0  0  117.074  117.07
213418  2015.12.24  Store21  Product80  1   1  0  117.074  117.07
213419  2016.01.01   Store1  Product80  1   2  0  117.074  117.07
213420  2016.01.04   Store9  Product80  1   0  0  117.074  117.07
213421  2016.01.06  Store10  Product80  1   1  0  117.074  117.07
213422  2016.01.07  Store20  Product80  1   1  0  117.074  117.07
213423  2016.01.07   Store2  Product80  1   0  0  117.074  117.07
213424  2016.01.16  Store21  Product80  1   0  0  117.074  117.07
213425  2016.01.17   Store5  Product80  1   0  0  117.074  117.07
213426  2016.02.03   Store4  Product80  1   1  0  71.6307   71.63
213427  2016.02.04   Store1  Product80  1   0  0  71.6307   71.63
213428  2016.02.04  Store18  Product80  1   1  0  71.6307   71.63
213429  2016.02.06  Store16  Product80  1   2  0  71.6307   71.63
213430  2016.02.07  Store10  Product80  1   0  0  71.6307   71.63
213431  2016.02.09   Store1  Product80  1   0  0  71.6307   71.63
213432  2016.02.23  Store16  Product80  1   1  0  71.6307   71.63
213433  2016.02.24  Store18  Product80  1   0  0  71.6307   71.63
213434  2016.02.29  Store17  Product80  1   1  0  71.6307   71.63
213435  2016.03.01  Store16  Product80  1   0  0  71.6307   71.63
213436  2016.03.08   Store7  Product80  1   0  0  71.6307   71.63

[213437 rows x 8 columns]

In [141]:
#name the columns
df.columns = ['Date', 'StoreCode', 'ProductCode','SalesQuantity','StoreStock','IncomingStock','SalesRevenue','ProductPrice']

In [211]:
#group the dataframe 
dd = df.groupby(["StoreCode","ProductCode","Date","SalesQuantity"])
dd.sort_index(level='Date',inplace=True)
l = len(dd)
df2 = pd.DataFrame(index=df.index)

for i in range(l):
    datePast = dd.index[i][2]
    if (datePast >= '2015.02.01' and  datePast <= '2015.02.14') or (datePast >= '2016.02.01' and  datePast <= '2016.02.14'):
        print(dd.index[i])
        #print(datePast)

Empty DataFrame
Columns: [Date, StoreCode, ProductCode, SalesQuantity, StoreStock, IncomingStock, SalesRevenue, ProductPrice]
Index: []