In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [106]:
data = pd.read_csv('InventoryPosition.csv',delimiter=';')
data.dtypes
#data['price'] = pd.to_numeric(data['price'], errors='coerce').fillna(0)

Date              object
StoreCode         object
ProductCode       object
SalesQuantity      int64
StoreStock         int64
IncomingStock      int64
SalesRevenue     float64
dtype: object

In [125]:
#data_array = np.array(data)
data['ProductPrice'] = (data['SalesRevenue']/data['SalesQuantity']).round(2)
#data.ProductPrice = -data.ProductPrice.round(2)
#data.index.values
d = data.groupby(["ProductCode","StoreCode", "ProductPrice","Date"]).size()
d

ProductCode  StoreCode  ProductPrice  Date
Product1     Store1     48.93         2015.08.09    1
                                      2015.08.17    1
                                      2015.08.19    1
                                      2015.08.26    1
                        79.70         2015.06.27    1
                                      2015.08.01    1
                        111.27        2015.06.06    1
                        157.04        2015.04.14    1
                                      2015.05.14    1
             Store11    48.93         2015.08.09    1
                        79.70         2015.06.14    1
                                      2015.06.16    1
                                      2015.06.23    1
                                      2015.07.19    1
                        157.04        2015.05.16    1
                                      2015.05.18    1
             Store14    48.93         2015.08.05    1
                                      2015.08.07    1
                                      2015.08.12    1
                        79.70         2015.07.26    1
             Store15    79.70         2015.07.06    1
                                      2015.07.25    1
                                      2015.07.30    1
                        111.27        2015.05.27    1
             Store16    79.70         2015.06.05    1
                                      2015.07.01    1
                                      2015.07.11    1
                        111.27        2015.05.27    1
                                      2015.05.28    1
                        157.04        2015.05.09    1
                                                   ..
Product99    Store21    51.07         2016.04.09    1
                        52.06         2016.08.31    1
                        84.09         2016.05.19    1
                                      2016.07.02    1
             Store3     84.09         2016.05.12    1
                                      2016.07.01    1
                                      2016.07.07    1
                                      2016.07.30    1
             Store4     52.06         2016.08.07    1
                                      2016.08.20    1
                                      2016.08.26    1
                        84.09         2016.06.23    1
                                      2016.06.26    1
                                      2016.06.27    1
                                      2016.08.01    1
             Store6     84.09         2016.05.05    1
                                      2016.05.08    1
                                      2016.06.17    1
                                      2016.06.22    1
                                      2016.06.23    1
                                      2016.07.23    1
             Store7     82.44         2016.06.12    1
                        84.09         2016.04.12    1
                                      2016.07.04    1
             Store9     67.27         2016.06.14    1
                        71.07         2016.04.18    1
                        84.09         2016.06.23    1
                                      2016.07.09    1
                                      2016.07.15    1
                                      2016.07.22    1
dtype: int64

In [4]:
data.groupby(["StoreCode","ProductCode", "ProductPrice","Date"]).size()

StoreCode  ProductCode  ProductPrice  Date
Store1     Product1     48.93         09.08.2015    1
                                      17.08.2015    1
                                      19.08.2015    1
                                      26.08.2015    1
                        79.70         01.08.2015    1
                                      27.06.2015    1
                        111.27        06.06.2015    1
                        157.04        14.04.2015    1
                                      14.05.2015    1
           Product10    71.63         22.08.2015    1
                        117.07        02.07.2015    1
                                      05.06.2015    1
                                      06.07.2015    1
                                      10.06.2015    1
                                      17.06.2015    1
                                      27.06.2015    1
                        230.30        01.05.2015    1
                                      02.04.2015    1
                                      02.05.2015    1
                                      09.04.2015    1
                                      10.04.2015    1
                                      14.04.2015    1
                                      14.05.2015    1
                                      19.04.2015    1
                                      20.04.2015    1
                                      22.05.2015    1
                                      23.05.2015    1
                                      24.04.2015    1
                                      24.05.2015    1
                                      26.03.2015    1
                                                   ..
Store9     Product94    61.60         10.06.2016    1
                        77.00         04.06.2016    1
                                      11.06.2016    1
                                      26.06.2016    1
           Product95    52.06         10.08.2016    1
                        84.09         23.07.2016    1
                                      30.06.2016    1
           Product96    8.40          20.04.2016    1
                        84.09         12.05.2016    1
                                      16.06.2016    1
                                      21.07.2016    1
                                      26.07.2016    1
           Product97    67.27         06.06.2016    1
                                      15.06.2016    1
                                      29.05.2016    1
                        84.09         11.07.2016    1
                                      19.04.2016    1
                                      21.07.2016    1
           Product98    67.27         04.06.2016    1
                                      12.06.2016    1
                        84.09         08.07.2016    1
                                      10.07.2016    1
                                      22.06.2016    1
                                      26.06.2016    1
           Product99    67.27         14.06.2016    1
                        71.07         18.04.2016    1
                        84.09         09.07.2016    1
                                      15.07.2016    1
                                      22.07.2016    1
                                      23.06.2016    1
dtype: int64